@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

:root {
  --text-black-color: #111111;
  --first-color: #C5358C;
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}

.inBucket.disabled {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
  border: 1px solid #999 !important;
}

.header {
  background: #111;
  padding: 4px 20px;
}
.header .header__wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
}
.header .category__menu-btn {
  background: transparent;
  border: 0;
  outline: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.header .category__menu-btn img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .logo {
  display: inline-block;
  max-width: 183px;
}
.header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .top__menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.header .top__menu a {
  color: #fff;
  transition: 0.6s;
}
@media (any-hover: hover) {
  .header .top__menu a:hover {
    color: var(--first-color);
  }
}
.header .bucket__btn {
  width: 36px;
  height: 36px;
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header .bucket__btn img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .bucket__btn .count__bucket {
  color: #111;
  background: #fff;
  position: absolute;
  right: 0;
  left: 40px;
  top: 0;
  min-width: 26px;
  min-height: 26px;
  padding: 3px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .auth {
  display: flex;
  gap: 10px;
}
.header .auth a {
  color: #fff;
}

@media (max-width: 991px) {
  .header .top__menu {
    display: none;
  }
  .header .category__menu-btn {
    order: 1;
  }
  .header .logo {
    order: 2;
  }
  .header .bucket__btn {
    order: 3;
  }
  .header .navbar {
    order: 4;
  }
}
@media (max-width: 489px) {
  .header .bucket__btn .count__bucket {
    left: 20px;
  }
}
.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section__category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 20px;
}

.category__wrapp {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.category__wrapp .category__wrapper {
  cursor: pointer;
  max-width: 325px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
.category__wrapp .category__wrapper .category__img {
  max-width: 325px;
  max-height: 325px;
  overflow: hidden;
}
.category__wrapp .category__wrapper .category__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.category__wrapp .category__wrapper .category__text {
  transition: 0.6s;
  padding: 27px 50px;
}
.category__wrapp .category__wrapper .category__text .category__name {
  font-weight: var(--regular);
  font-size: 30px;
  color: var(--text-black-color);
}
.category__wrapp .category__wrapper .category__text .link__category {
  font-weight: var(--light);
  color: var(--text-black-color);
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.category__wrapp .category__wrapper .category__text .link__category img {
  width: 24px;
  height: 24px;
}
.category__wrapp .category__wrapper .category__text.hovered {
  background-color: #111;
  color: #fff;
}
.category__wrapp .category__wrapper .category__text.hovered .category__name {
  color: #fff;
}
.category__wrapp .category__wrapper .category__text.hovered .link__category {
  color: #fff;
}

@media (max-width: 1366px) {
  .category__wrapp .category__wrapper {
    max-width: 290px;
  }
}
@media (max-width: 991px) {
  .section__category {
    padding: 30px 8px;
  }
  .category__wrapp .category__wrapper {
    max-width: 215px;
  }
  .category__wrapp .category__wrapper .category__text {
    padding: 10px 25px;
  }
  .category__wrapp .category__wrapper .category__text .category__name {
    font-size: 20px;
  }
  .category__wrapp .category__wrapper .category__text .link__category {
    font-size: 18px;
  }
}
@media (max-width: 489px) {
  .category__wrapp {
    gap: 10px;
  }
  .category__wrapp .category__wrapper .category__img {
    display: none;
  }
  .category__wrapp .category__wrapper .category__text {
    padding: 8px 19px;
  }
  .category__wrapp .category__wrapper .category__text .category__name {
    font-size: 18px;
  }
  .category__wrapp .category__wrapper .category__text .link__category {
    font-size: 16px;
  }
}
.section__content {
  background: #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 825px;
  padding: 0 20px;
}
.section__content .content__wrapp-left {
  max-width: 760px;
}
.section__content .content__wrapp-left .page__title {
  margin: 0 0 40px 0;
  font-size: 42px;
  font-weight: var(--semi-bold);
}
.section__content .content__wrapp-left p {
  font-size: 18px;
  line-height: 30px;
}
.section__content .content__wrapp-right {
  max-width: 700px;
  width: 100%;
  max-height: 700px;
  overflow: hidden;
  margin: auto 0 0 0;
}
.section__content .content__wrapp-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1280px) {
  .section__content {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .section__content {
    min-height: auto;
    padding: 30px 8px;
  }
  .section__content .content__wrapp-left {
    max-width: none;
  }
  .section__content .content__wrapp-left .page__title {
    font-size: 30px;
    margin: 0px 0 20px 0;
  }
  .section__content .content__wrapp-left p {
    font-size: 16px;
    line-height: 25px;
  }
  .section__content .content__wrapp-right {
    display: none;
  }
}
.section__choise {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 20px;
}

.section__choise-wrapp {
  max-width: 1360px;
  margin: 0 auto;
}
.section__choise-wrapp .choise__title {
  font-size: 42px;
  font-weight: var(--medium);
  margin: 0 0 60px 0;
}
.section__choise-wrapp .choise__wrapp {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.section__choise-wrapp .choise__wrapp .choise__wrapper {
  max-width: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
  padding: 27px 0;
  border-radius: 5px;
  transition: 0.6s;
  cursor: pointer;
}
.section__choise-wrapp .choise__wrapp .choise__wrapper .choise__img {
  max-width: 110px;
  width: 100%;
  max-height: 110px;
  overflow: hidden;
}
.section__choise-wrapp .choise__wrapp .choise__wrapper .choise__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section__choise-wrapp .choise__wrapp .choise__wrapper .choise__wrapp-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  max-width: 276px;
}
.section__choise-wrapp .choise__wrapp .choise__wrapper .choise__wrapp-text h3 {
  font-size: 20px;
  text-align: center;
}
.section__choise-wrapp .choise__wrapp .choise__wrapper .choise__wrapp-text p {
  font-size: 18px;
  font-weight: var(--medium);
  color: #111111;
  max-width: 208px;
  text-align: center;
}
@media (any-hover: hover) {
  .section__choise-wrapp .choise__wrapp .choise__wrapper:hover {
    box-shadow: none;
  }
}

@media (max-width: 1366px) {
  .section__choise-wrapp .choise__wrapp {
    justify-content: center;
  }
  .section__choise-wrapp .choise__wrapp .choise__wrapper {
    max-width: 400px;
  }
}
@media (max-width: 991px) {
  .section__choise {
    padding: 30px 8px;
  }
  .section__choise .section__choise-wrapp .choise__title {
    font-size: 30px;
    margin: 0 0 30px 0;
  }
  .section__choise .choise__wrapp .choise__wrapper {
    max-width: 300px;
    padding: 5px 0;
  }
  .section__choise .choise__wrapp .choise__wrapper .choise__img {
    max-width: 90px;
    max-height: 90px;
  }
  .section__choise .choise__wrapp .choise__wrapper .choise__wrapp-text h3 {
    font-size: 18px;
  }
  .section__choise .choise__wrapp .choise__wrapper .choise__wrapp-text p {
    font-size: 16px;
  }
}
@media (max-width: 489px) {
  .section__choise-wrapp .choise__wrapp {
    gap: 10px;
  }
  .section__choise-wrapp .choise__wrapp .choise__wrapper {
    max-width: 167px;
  }
  .section__choise-wrapp .choise__wrapp .choise__wrapper .choise__img {
    width: 60px;
    height: 60px;
  }
  .section__choise-wrapp .choise__wrapp .choise__wrapper .choise__wrapp-text h3 {
    font-size: 15px;
  }
  .section__choise-wrapp .choise__wrapp .choise__wrapper .choise__wrapp-text p {
    font-size: 14px;
  }
}
.section__goods {
  background: #F8F8F8;
  padding: 0 0 100px 0;
}
.section__goods .goods__wrapp {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}
.section__goods .goods__wrapp .top__wrapper {
  display: flex;
  flex-direction: column;
}
.section__goods .goods__wrapp .title__goods {
  color: var(--text-black-color);
  font-weight: var(--medium);
  font-size: 46px;
  margin: 50px 0;
  display: inline-block;
}
.section__goods .goods__wrapp .title__goods span {
  color: var(--first-color);
}
.section__goods .goods__wrapp .category__goods {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  transition: 0.6s;
}
.section__goods .goods__wrapp .category__goods a {
  font-size: 18px;
  font-weight: var(--regular);
  color: var(--text-black-color);
  display: inline-block;
  border: 1px solid var(--text-black-color);
  border-radius: 50px;
  padding: 6px 10px;
}
.section__goods .goods__wrapp .category__goods button {
  border: 0;
  outline: none;
  background: transparent;
  text-decoration: underline;
  color: var(--first-color);
  font-size: 18px;
  font-weight: var(--regular);
}
.section__goods .goods__wrapp .sorting {
  border: 2px solid var(--first-color);
  font-weight: var(--regular);
  font-size: 18px;
  padding: 8px 36px;
  margin: 30px 0 30px auto;
  outline: none;
  border-radius: 3px;
}
.section__goods .goods__wrapp .pagination {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 100px 0;
}
.section__goods .goods__wrapp .pagination button {
  border: 0;
  outline: none;
  background: transparent;
}
.section__goods .goods__wrapp .pagination span {
  font-size: 24px;
  font-weight: var(--regular);
  color: var(--text-black-color);
}
.section__goods .goods__wrapper-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.section__goods .goods__wrapper-content .goods__wrapper-item {
  max-width: 440px;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 814px;
  justify-content: space-between;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .goods__image {
  max-width: 440px;
  width: 100%;
  max-height: 440px;
  overflow: hidden;
  cursor: pointer;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .goods__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.6s;
}
@media (any-hover: hover) {
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__image:hover img {
    transform: scale(1.1);
  }
}
.section__goods .goods__wrapper-content .goods__wrapper-item .goods__name {
  font-weight: var(--light);
  color: var(--text-black-color);
  font-size: 24px;
  max-width: 360px;
  width: 100%;
  margin: 30px auto;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 360px;
  width: 100%;
  margin: 0 auto 20px auto;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags .stock {
  color: #68AE5C;
  font-weight: var(--regular);
  font-size: 18px;
  position: relative;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags .stock::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 6px;
  background: #68AE5C;
  width: 13px;
  height: 13px;
  border-radius: 50px;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags .in__stock {
  color: #f00;
  font-weight: var(--regular);
  font-size: 18px;
  position: relative;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags .in__stock::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 6px;
  background: #f00;
  width: 13px;
  height: 13px;
  border-radius: 50px;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags .flag {
  background: var(--first-color);
  color: #fff;
  font-size: 24px;
  font-weight: var(--regular);
  padding: 8px 29px;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp .goods__main-price {
  font-size: 42px;
  font-weight: var(--medium);
}
.section__goods .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp .goods__old-price {
  font-size: 24px;
  font-weight: var(--medium);
  text-decoration: line-through;
  color: #ABABAB;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp {
  display: flex;
  justify-content: space-between;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .goods__amount {
  border: 1px solid var(--text-black-color);
  padding: 16px 0;
  max-width: 218px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 3px;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .goods__amount button {
  border: 0;
  outline: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .goods__amount input {
  border: 0;
  outline: none;
  font-size: 24px;
  font-weight: var(--regular);
  max-width: 60px;
  text-align: center;
}
.section__goods .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .inBucket {
  border: 0;
  outline: none;
  background: var(--text-black-color);
  color: #fff;
  font-size: 24px;
  font-weight: var(--regular);
  max-width: 220px;
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
}

@media (max-width: 1366px) {
  .section__goods .goods__wrapper-content {
    justify-content: center;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item {
    max-width: 360px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__name {
    font-size: 18px;
    padding: 0 20px;
    width: auto;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags {
    max-width: 275px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags .stock {
    font-size: 16px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags .in__stock {
    font-size: 16px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags .flag {
    font-size: 18px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp {
    max-width: 275px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp .goods__main-price {
    font-size: 32px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp .goods__old-price {
    font-size: 18px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .inBucket {
    font-size: 18px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .goods__amount input {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .section__goods {
    padding: 0 0 8px 0;
  }
  .section__goods .goods__wrapp .top__wrapper {
    padding: 0 8px;
  }
  .section__goods .goods__wrapp .title__goods {
    font-size: 30px;
    margin: 20px 0 10px 0;
    padding: 0 8px;
  }
  .section__goods .goods__wrapp .category__goods {
    gap: 10px;
    padding: 0 8px;
  }
  .section__goods .goods__wrapp .category__goods a {
    font-size: 16px;
  }
  .section__goods .goods__wrapp .pagination {
    padding: 30px 0;
    gap: 5px;
  }
  .section__goods .goods__wrapp .pagination button {
    width: 56px;
    height: 49px;
  }
  .section__goods .goods__wrapp .pagination button img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .section__goods .goods__wrapp .pagination span {
    font-size: 18px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item {
    max-width: 300px;
    min-height: auto;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__name {
    font-size: 16px;
    margin: 10px auto;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags {
    max-width: 237px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .goods__amount {
    padding: 10px 0;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .inBucket {
    font-size: 16px;
  }
}
@media (max-width: 489px) {
  .section__goods .goods__wrapper-content {
    gap: 10px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item {
    max-width: 170px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__name {
    font-size: 14px;
    padding: 0 15px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags {
    flex-direction: column;
    gap: 10px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags .stock {
    font-size: 14px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .stock__flags .flag {
    font-size: 16px;
    padding: 5px 10px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp {
    flex-wrap: wrap;
    max-width: 160px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp .goods__main-price {
    font-size: 20px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp .goods__old-price {
    font-size: 16px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp {
    flex-wrap: wrap;
    gap: 2px;
  }
  .section__goods .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .inBucket {
    height: 45px;
  }
}
.reviews {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 8px 50px 8px;
}
.reviews__head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 40px 0;
}
.reviews__head h2 {
  color: var(--text-black-color);
  font-weight: var(--medium);
  font-size: 46px;
  margin: 50px 0 10px 0;
  display: inline-block;
}
.reviews__head h2 span {
  color: var(--first-color);
}
.reviews__head .reviews__btn {
  background: transparent;
  border: 1px solid #111111;
  font-size: 24px;
  font-weight: var(--regular);
  color: #111111;
  padding: 17px 46px;
  cursor: pointer;
}
.reviews__author {
  font-size: 20px;
  font-weight: var(--medium);
  color: #111111;
  margin: 0 0 15px 0;
}
.reviews__wrapper {
  display: flex;
  border-top: 1px solid #ABABAB;
  padding: 40px 0;
}
.reviews__sidebar {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}
.reviews__content-wrapp .title__reviews {
  font-size: 20px;
  font-weight: var(--semi-bold);
  color: #111111;
  max-width: 790px;
  width: 100%;
  margin: 0 0 10px 0;
}
.reviews__content-wrapp .text__reviews {
  font-size: 18px;
  font-weight: var(--light);
  color: #111111;
  max-width: 790px;
  width: 100%;
  margin: 0 0 30px 0;
}
.reviews__content-wrapp .reviews__img-wrapp {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.reviews .date {
  font-size: 18px;
  font-weight: var(--light);
  color: #909090;
}
.reviews__link-now {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 24px;
  font-weight: var(--regular);
  color: #111111;
  border: 1px solid #111111;
  max-width: 311px;
  width: 100%;
  margin: 0 auto;
  padding: 14px 0;
  transition: 0.6s;
}
.reviews__link-now span {
  width: 34px;
  height: 34px;
}
.reviews__link-now:hover span {
  transform: rotate(46deg);
}

@media (max-width: 991px) {
  .reviews .reviews__head h2 {
    font-size: 30px;
    margin: 20px 0 10px 0;
  }
  .reviews .reviews__head .reviews__btn {
    font-size: 18px;
    padding: 11px 28px;
  }
  .reviews__wrapper {
    flex-direction: column;
    padding: 18px 0;
  }
  .reviews__author {
    font-size: 18px;
  }
  .reviews .reviews__content-wrapp .title__reviews {
    font-size: 18px;
  }
  .reviews .reviews__content-wrapp .text__reviews {
    font-size: 16px;
  }
  .reviews__rating img {
    width: 20px;
    height: 20px;
  }
  .reviews .reviews__link-now {
    font-size: 18px;
    max-width: 265px;
    padding: 9px 0;
  }
}
.faq {
  background: #F8F8F8;
  padding: 50px 8px;
}
.faq .title__faq {
  color: var(--text-black-color);
  font-weight: var(--medium);
  font-size: 46px;
  max-width: 1360px;
  width: 100%;
  margin: 50px auto;
}
.faq__wrapper {
  max-width: 1360px;
  margin: 0 auto;
}
.faq__header {
  display: flex;
  justify-content: space-between;
  padding: 38px 0;
}
.faq__item {
  border-top: 1px solid #ABABAB;
}
.faq__content p {
  font-size: 18px;
  font-weight: var(--light);
  color: #111111;
  margin: 10px 0;
}

@media (max-width: 991px) {
  .faq {
    padding: 5px 30px;
  }
  .faq .title__faq {
    margin: 20px auto;
    font-size: 30px;
  }
  .faq .faq__header {
    padding: 25px 0;
  }
}
.news {
  padding: 30px 8px;
}
.news .title__news {
  color: var(--text-black-color);
  font-weight: var(--medium);
  font-size: 46px;
  max-width: 1360px;
  width: 100%;
  margin: 50px auto;
}
.news__wrapper {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.news__item {
  max-width: 440px;
}
.news__content .news__date {
  font-weight: var(--light);
  color: #909090;
  font-size: 18px;
  margin: 30px 0 20px 0;
}
.news__content .news__title {
  font-size: 20px;
  font-weight: var(--semi-bold);
  color: var(--text-black-color);
  max-width: 355px;
}
.news__content .news__content {
  font-size: 18px;
  font-weight: var(--light);
  color: var(--text-black-color);
  margin: 15px 0 20px 0;
}
.news__content a {
  color: var(--first-color);
  text-decoration: underline;
}
.news__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 24px;
  font-weight: var(--regular);
  color: #111111;
  border: 1px solid #111111;
  max-width: 311px;
  width: 100%;
  margin: 40px auto;
  padding: 14px 0;
  transition: 0.6s;
}
.news__link span {
  width: 34px;
  height: 34px;
}
.news__link:hover span {
  transform: rotate(46deg);
}

@media (max-width: 991px) {
  .news {
    padding: 0 8px;
  }
  .news .title__news {
    margin: 20px auto;
    font-size: 30px;
  }
  .news__item {
    display: flex;
    max-width: none;
    gap: 10px;
  }
  .news__item .news__img-wrapp {
    max-width: 188px;
    width: 100%;
  }
  .news__item .news__img-wrapp img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .news__content .news__date {
    margin: 10px 0 10px 0;
    font-size: 16px;
  }
  .news__content .news__title {
    max-width: none;
    font-size: 18px;
  }
  .news__content .news__content {
    margin: 10px 0 5px 0;
    font-size: 16px;
  }
  .news .news__link {
    font-size: 18px;
    max-width: 265px;
    padding: 9px 0;
  }
}
@media (max-width: 489px) {
  .news__item {
    flex-direction: column;
  }
}
.forms {
  background: #F8F8F8;
  padding: 114px 8px;
}
.forms__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1360px;
  margin: 0 auto;
}
.forms__wrapper form {
  max-width: 555px;
  width: 100%;
}
.forms__wrapper form .form__title {
  font-size: 42px;
  font-weight: var(--medium);
  color: var(--text-black-color);
  margin: 50px 0;
}
.forms__wrapper form .form__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.forms__wrapper form .form__body .main__input {
  border: 0;
  border-bottom: 1px solid #111111;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 18px;
  font-weight: var(--regular);
  color: #111111;
  padding: 12px 0;
}
.forms__wrapper form .form__body .main__input::-moz-placeholder {
  color: #ABABAB;
  font-size: 18px;
  font-weight: var(--regular);
}
.forms__wrapper form .form__body .main__input::placeholder {
  color: #ABABAB;
  font-size: 18px;
  font-weight: var(--regular);
}
.forms__wrapper form .form__body .policy__check {
  display: flex;
  align-items: center;
  gap: 16px;
}
.forms__wrapper form .form__body .policy__check .check__policy {
  width: 30px;
  height: 30px;
}
.forms__wrapper form .form__body .policy__check .text__policy {
  font-size: 16px;
  font-weight: var(--regular);
  color: #111111;
}
.forms__wrapper form button {
  background: var(--text-black-color);
  color: #fff;
  border-radius: 3px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin: 40px 0 0 0;
  font-size: 24px;
  font-weight: var(--regular);
  padding: 16px 42px;
}

@media (max-width: 991px) {
  .forms {
    padding: 40px 8px;
  }
  .forms__wrapper form {
    max-width: 460px;
  }
  .forms__wrapper form .form__title {
    font-size: 24px;
    margin: 18px 0;
  }
  .forms__wrapper form button {
    font-size: 18px;
  }
}
.footer {
  background: var(--text-black-color);
  padding: 82px 8px 10px 8px;
}
.footer__wrapp {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}
.footer__wrapp .footer__logo {
  display: inline-block;
  max-width: 183px;
  max-height: 82px;
}
.footer__wrapp .footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__menu-wrapp {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  justify-content: space-between;
}
.footer__menu-category {
  max-width: 240px;
  width: 100%;
}
.footer__menu-category .main__text-menu {
  font-size: 24px;
  font-weight: var(--semi-bold);
  color: #fff;
  margin: 15px 0;
}
.footer__menu-category ul {
  display: flex;
  gap: 6px;
  flex-direction: column;
}
.footer__menu-category ul li a {
  font-size: 18px;
  font-weight: var(--light);
  color: #fff;
}
.footer__menu-second {
  display: flex;
  width: 100%;
}
.footer__menu-second .main__wrapp-second {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}
.footer__menu-second .main__wrapp-second .title__menu .link__title-menu {
  color: #fff;
  font-size: 24px;
  font-weight: var(--semi-bold);
  margin: 15px 0;
  display: inline-block;
}
.footer__menu-second .main__wrapp-second .under__menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer__menu-second .main__wrapp-second .under__menu li a {
  font-size: 18px;
  font-weight: var(--light);
  color: #fff;
}
.footer .contact__wrapp {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  gap: 35px;
  width: 100%;
}
.footer .contact__wrapp .tel__wrapp {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .contact__wrapp .tel__wrapp p {
  font-size: 24px;
  font-weight: var(--light);
  color: #fff;
}
.footer .contact__wrapp .tel__wrapp a {
  font-size: 24px;
  font-weight: var(--semi-bold);
  color: #fff;
}
.footer .contact__wrapp .social__wrapp {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.footer .copyright {
  font-size: 18px;
  font-weight: var(--light);
  color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 30px 0;
}

@media (max-width: 991px) {
  .footer {
    padding: 40px 8px 10px 8px;
  }
  .footer__menu-category {
    display: none;
  }
  .footer__menu-second {
    display: none;
  }
  .footer__menu-wrapp {
    justify-content: center;
  }
  .footer__wrapp {
    display: flex;
    justify-content: center;
  }
}
.burger__category-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger__category-menu .burger__category-wrapp {
  border-radius: 3px;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  background: #111;
  padding: 38px 20px;
  position: relative;
}
.burger__category-menu .burger__category-wrapp .close__btn {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
.burger__category-menu .burger__category-wrapp .close__btn img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.burger__category-menu .burger__menu-wrapp .category__menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.burger__category-menu .burger__menu-wrapp .category__menu ul li a {
  font-size: 18px;
  font-weight: var(--light);
  color: #fff;
}

@media (max-width: 991px) {
  .burger__category-menu {
    align-items: baseline;
  }
  .burger__category-menu .burger__category-wrapp {
    height: 100vh;
  }
  .burger__category-menu .burger__menu-wrapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: calc(100vh - 60px);
    overflow-y: auto;
    padding: 16px;
    gap: 20px;
  }
  .burger__category-menu .burger__menu-wrapp .category__menu ul {
    flex-direction: column;
  }
  .burger__category-menu .burger__menu-wrapp .hor__menu-burger ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .burger__category-menu .burger__menu-wrapp .hor__menu-burger ul li a {
    font-size: 18px;
    font-weight: var(--light);
    color: #fff;
  }
}
.prod__wrapp {
  background: #F8F8F8;
  padding: 0 0 100px 0;
}
.prod__wrapp .prod__title {
  color: var(--text-black-color);
  font-weight: var(--medium);
  font-size: 46px;
  margin: 50px 0;
  display: inline-block;
  text-transform: capitalize;
}
.prod__wrapp .prod__title span {
  color: var(--first-color);
}
.prod__wrapp .goods__wrapp {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}
.prod__wrapp .goods__wrapp .sorting {
  border: 2px solid var(--first-color);
  font-weight: var(--regular);
  font-size: 18px;
  padding: 8px 36px;
  margin: 30px 0 30px auto;
  outline: none;
  border-radius: 3px;
}
.prod__wrapp .goods__wrapper-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item {
  max-width: 440px;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 814px;
  justify-content: space-between;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__image {
  max-width: 440px;
  width: 100%;
  max-height: 440px;
  overflow: hidden;
  cursor: pointer;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.6s;
}
@media (any-hover: hover) {
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__image:hover img {
    transform: scale(1.1);
  }
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__name {
  font-weight: var(--light);
  color: var(--text-black-color);
  font-size: 24px;
  max-width: 360px;
  width: 100%;
  margin: 30px auto;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 360px;
  width: 100%;
  margin: 0 auto 20px auto;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags .stock {
  color: #68AE5C;
  font-weight: var(--regular);
  font-size: 18px;
  position: relative;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags .stock::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 6px;
  background: #68AE5C;
  width: 13px;
  height: 13px;
  border-radius: 50px;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags .in__stock {
  color: #f00;
  font-weight: var(--regular);
  font-size: 18px;
  position: relative;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags .in__stock::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 6px;
  background: #f00;
  width: 13px;
  height: 13px;
  border-radius: 50px;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags .flag {
  background: var(--first-color);
  color: #fff;
  font-size: 24px;
  font-weight: var(--regular);
  padding: 8px 29px;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp .goods__main-price {
  font-size: 42px;
  font-weight: var(--medium);
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp .goods__old-price {
  font-size: 24px;
  font-weight: var(--medium);
  text-decoration: line-through;
  color: #ABABAB;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp {
  display: flex;
  justify-content: space-between;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .goods__amount {
  border: 1px solid var(--text-black-color);
  padding: 16px 0;
  max-width: 218px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 3px;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .goods__amount button {
  border: 0;
  outline: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .goods__amount input {
  border: 0;
  outline: none;
  font-size: 24px;
  font-weight: var(--regular);
  max-width: 60px;
  text-align: center;
}
.prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .inBucket {
  border: 0;
  outline: none;
  background: var(--text-black-color);
  color: #fff;
  font-size: 24px;
  font-weight: var(--regular);
  max-width: 220px;
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
}

@media (max-width: 1366px) {
  .prod__wrapp .goods__wrapper-content {
    justify-content: center;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item {
    max-width: 360px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__name {
    font-size: 18px;
    padding: 0 20px;
    width: auto;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags {
    max-width: 275px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags .stock {
    font-size: 16px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags .in__stock {
    font-size: 16px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags .flag {
    font-size: 18px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp {
    max-width: 275px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp .goods__main-price {
    font-size: 32px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp .goods__old-price {
    font-size: 18px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .inBucket {
    font-size: 18px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .goods__amount input {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .prod__wrapp {
    padding: 0 0 8px 0;
  }
  .prod__wrapp .goods__wrapp .top__wrapper {
    padding: 0 8px;
  }
  .prod__wrapp .goods__wrapp .prod__title {
    font-size: 30px;
    margin: 20px 0 10px 0;
    padding: 0 8px;
  }
  .prod__wrapp .goods__wrapp .category__goods {
    gap: 10px;
    padding: 0 8px;
  }
  .prod__wrapp .goods__wrapp .category__goods a {
    font-size: 16px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item {
    max-width: 300px;
    min-height: auto;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__name {
    font-size: 16px;
    margin: 10px auto;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags {
    max-width: 237px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .goods__amount {
    padding: 10px 0;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .inBucket {
    font-size: 16px;
  }
}
@media (max-width: 489px) {
  .prod__wrapp .goods__wrapper-content {
    gap: 10px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item {
    max-width: 170px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__name {
    font-size: 14px;
    padding: 0 15px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags {
    flex-direction: column;
    gap: 10px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags .stock {
    font-size: 14px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .stock__flags .flag {
    font-size: 16px;
    padding: 5px 10px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp {
    flex-wrap: wrap;
    max-width: 160px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp .goods__main-price {
    font-size: 20px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__price-wrapp .goods__old-price {
    font-size: 16px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp {
    flex-wrap: wrap;
    gap: 2px;
  }
  .prod__wrapp .goods__wrapper-content .goods__wrapper-item .goods__btn-wrapp .inBucket {
    height: 45px;
  }
}
.prod__card-wrapp {
  max-width: 1360px;
  margin: 0 auto;
  padding: 100px 8px;
}
.prod__card-wrapp .prod__card-title {
  color: var(--text-black-color);
  font-weight: var(--medium);
  font-size: 46px;
  display: inline-block;
  text-transform: capitalize;
}
.prod__card-wrapp .prod__img {
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
}
.prod__card-wrapp .prod__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.prod__card-wrapp .card__wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.prod__card-wrapp .card__wrapp .inBucket {
  border: 0;
  outline: none;
  background: var(--text-black-color);
  color: #fff;
  font-size: 24px;
  font-weight: var(--regular);
  max-width: 220px;
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
  padding: 18px 0;
}
.prod__card-wrapp .goods__amount {
  border: 1px solid var(--text-black-color);
  padding: 16px 0;
  max-width: 218px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 3px;
}
.prod__card-wrapp .goods__amount button {
  border: 0;
  outline: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.prod__card-wrapp .goods__amount input {
  border: 0;
  outline: none;
  font-size: 24px;
  font-weight: var(--regular);
  max-width: 60px;
  text-align: center;
}
.prod__card-wrapp .goods__btn-wrapp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.prod__card-wrapp .card__goods-wrapp {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  width: 100%;
  gap: 10px;
}
.prod__card-wrapp .price__wrapp {
  display: flex;
}
.prod__card-wrapp .price__wrapp .main__price {
  font-size: 42px;
  font-weight: var(--medium);
}
.prod__card-wrapp .price__wrapp .old__price {
  font-size: 24px;
  font-weight: var(--medium);
  text-decoration: line-through;
  color: #ABABAB;
}
.prod__card-wrapp .stock__flags .stock {
  color: #68AE5C;
  font-weight: var(--bold);
  font-size: 22px;
}
.prod__card-wrapp .stock__flags .in__stock {
  color: #f00;
  font-weight: var(--bold);
  font-size: 22px;
}
.prod__card-wrapp .stock__flags .flag {
  background: var(--first-color);
  color: #fff;
  font-size: 24px;
  font-weight: var(--regular);
  padding: 8px 29px;
}
.prod__card-wrapp .card__item-wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 489px) {
  .prod__card-wrapp {
    padding: 5px 8px;
  }
  .prod__card-wrapp .prod__card-title {
    font-size: 24px;
    margin: 20px 0 10px 0;
    padding: 0 8px;
  }
  .prod__card-wrapp .price__wrapp .main__price {
    font-size: 24px;
  }
  .prod__card-wrapp .price__wrapp .old__price {
    font-size: 18px;
  }
  .prod__card-wrapp .goods__amount {
    max-width: 168px;
  }
  .prod__card-wrapp .card__wrapp .inBucket {
    max-width: 170px;
  }
}
.bucket {
  max-width: 1360px;
  margin: 0 auto;
  padding: 100px 8px;
}
.bucket .bucket__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.bucket .bucket__items .bucket__title {
  color: var(--text-black-color);
  font-weight: var(--medium);
  font-size: 46px;
  margin: 10px 0;
}

@media (max-width: 489px) {
  .bucket {
    padding: 5px 8px;
  }
  .bucket .bucket__items .bucket__title {
    font-size: 24px;
    margin: 10px 0;
    padding: 0 8px;
  }
}/*# sourceMappingURL=App.css.map */