@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

:root {
    --text-black-color: #111111;
    --first-color: #C5358C;
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
}

.inBucket.disabled {
    background-color: #ccc !important;
    color: #666 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
    border: 1px solid #999 !important;
  }

// ######### HEADER ########## //

.header{
    background: #111;
    padding: 4px 20px;
    .header__wrapp{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 1360px;
        margin: 0 auto;
    }
    .category__menu-btn{
        background: transparent;
        border: 0;
        outline: none;
        width: 50px;
        height: 50px;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .logo{
        display: inline-block;
        max-width: 183px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .top__menu{
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 30px; 
        }
        a{
            color: #fff;
            transition: 0.6s;
        }
        @media (any-hover: hover) {    
            a:hover{
                color: var(--first-color);
            }
        }
    }
    .bucket__btn{
        width: 36px;
        height: 36px;
        background: transparent;
        outline: none;
        border: 0;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img{
            height: 100%;
            object-fit: contain;
        }
        .count__bucket{
            color: #111;
            background: #fff;
            position: absolute;
            right: 0;
            left: 40px;
            top: 0;
            min-width: 26px;
            min-height: 26px;
            padding: 3px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center; 
        }
    }
    .auth{
        display: flex;
        gap: 10px;
        a{
            color: #fff;
        }
    }
}

@media (max-width: 991px) {
    .header{
        .top__menu{
            display: none;
        }
        .category__menu-btn{
            order: 1;
        }
        .logo{
            order: 2;
        }
        .bucket__btn{
            order: 3;
        }
        .navbar{
            order: 4;
        }
    }
}

@media (max-width: 489px) {
    .header{
        .bucket__btn{
            .count__bucket{
                left: 20px;
            }
        }
    }
}

// ########### BANNER ########## //

.banner{
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

// ########## SECTION CATEGORY ######## //

.section__category{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 20px;
}
.category__wrapp{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .category__wrapper{
        cursor: pointer;
        max-width: 325px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        overflow: hidden;
        .category__img{
            max-width: 325px;
            max-height: 325px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain; 
            }
        }
        .category__text{
            transition: 0.6s;
            padding: 27px 50px;
            .category__name{
                font-weight: var(--regular);
                font-size: 30px;
                color: var(--text-black-color);
            }
            .link__category{
                font-weight: var(--light);
                color: var(--text-black-color);
                font-size: 24px;
                display: flex;
                align-items: center;
                gap: 20px;
                img{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .category__text.hovered {
            background-color: #111;
            color: #fff;
          }
          
          .category__text.hovered {
            .category__name{
                color: #fff;
            }
            .link__category {
                color: #fff;
            }
          }
    }
}

@media (max-width: 1366px) {
    .category__wrapp{
        .category__wrapper{
            max-width: 290px;
        }
    }
}

@media (max-width: 991px) {
    .section__category{
        padding: 30px 8px;
    }
    .category__wrapp{
        .category__wrapper{
            max-width: 215px;
            .category__text{
                padding: 10px 25px;
                .category__name{
                    font-size: 20px;
                }
                .link__category{
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 489px) {
    .category__wrapp{
        gap: 10px;
        .category__wrapper{
            .category__img{
                display: none;
            }
            .category__text{
                padding: 8px 19px;
                .category__name{
                    font-size: 18px;
                }
                .link__category{
                    font-size: 16px;
                } 
            }
        }
    }
}

// ########### SECTION CONTENT ######### //

.section__content{
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 825px;
    padding: 0 20px;
    .content__wrapp-left{
        max-width: 760px;
        .page__title{
            margin: 0 0 40px 0;
            font-size: 42px;
            font-weight: var(--semi-bold);
        }
        p{
            font-size: 18px;
            line-height: 30px;
        }
    }
    .content__wrapp-right{
        max-width: 700px;
        width: 100%;
        max-height: 700px;
        overflow: hidden;
        margin: auto 0 0 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        } 
        
    }
}
@media (max-width: 1280px) {
    .section__content{
        flex-wrap: wrap; 
    }
}

@media (max-width: 991px) {
    .section__content{
        min-height: auto;
        padding: 30px 8px;
        .content__wrapp-left{
            max-width: none;
            .page__title{
                font-size: 30px;
                margin: 0px 0 20px 0;
            }
            p{
                font-size: 16px;
                line-height: 25px;
            }
        }
        .content__wrapp-right{
            display: none;
        }
    }
}

// ######## SECTION CHOISE ######## //

.section__choise{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 20px;
}
.section__choise-wrapp{
    max-width: 1360px;
    margin: 0 auto;
    .choise__title{
        font-size: 42px;
        font-weight: var(--medium);
        margin: 0 0 60px 0;
    }
    .choise__wrapp{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .choise__wrapper{
            max-width: 440px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
            padding: 27px 0;
            border-radius: 5px;
            transition: 0.6s;
            cursor: pointer;
            .choise__img{
                max-width: 110px;
                width: 100%;
                max-height: 110px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .choise__wrapp-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 13px;
                max-width: 276px;
                h3{
                    font-size: 20px;
                    text-align: center;
                }
                p{
                    font-size: 18px;
                    font-weight: var(--medium);
                    color: #111111;
                    max-width: 208px;
                    text-align: center;
                }
            }
        }
        @media (any-hover: hover) {
            .choise__wrapper:hover{
                box-shadow: none; 
            }
        }
    }
}

@media (max-width: 1366px) {
    .section__choise-wrapp{
        .choise__wrapp{
            justify-content: center;
            .choise__wrapper{
                max-width: 400px;
            }
        }
    }
}

@media (max-width: 991px) {
    .section__choise{
        padding: 30px 8px;
        .section__choise-wrapp{
            .choise__title{
                font-size: 30px;
                margin: 0 0 30px 0;
            }
        }
        .choise__wrapp{
            .choise__wrapper{
                max-width: 300px;
                padding: 5px 0;
                .choise__img{
                    max-width: 90px;
                    max-height: 90px;
                }
                .choise__wrapp-text{
                    h3{
                        font-size: 18px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 489px) {
    .section__choise-wrapp{
        .choise__wrapp{
            gap: 10px;
            .choise__wrapper{
                max-width: 167px;
                .choise__img{
                    width: 60px;
                    height: 60px;
                }
                .choise__wrapp-text{
                    h3{
                        font-size: 15px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

// ######### SECTION GOODS ######### //

.section__goods{
    background: #F8F8F8;
    padding: 0 0 100px 0;
    .goods__wrapp{
        max-width: 1360px;
        width: 100%; 
        margin: 0 auto;
        .top__wrapper{
           display: flex;
           flex-direction: column; 
        }
        .title__goods{
            color: var(--text-black-color);
            font-weight: var(--medium);
            font-size: 46px;
            margin: 50px 0;
            display: inline-block;
            span{
                color: var(--first-color);
            }
        }
        .category__goods{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            transition: 0.6s;
            a{
                font-size: 18px;
                font-weight: var(--regular);
                color: var(--text-black-color);
                display: inline-block;
                border: 1px solid var(--text-black-color);
                border-radius: 50px;
                padding: 6px 10px;
            }
            button{
                border: 0;
                outline: none;
                background: transparent;
                text-decoration: underline;
                color: var(--first-color);
                font-size: 18px;
                font-weight: var(--regular);
            }
        }
        .sorting{
            border: 2px solid var(--first-color);
            font-weight: var(--regular);
            font-size: 18px;
            padding: 8px 36px;
            margin: 30px 0 30px auto;
            outline: none;
            border-radius: 3px;
        }
        .pagination{
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 100px 0;
            button{
                border: 0;
                outline: none;
                background: transparent; 
            }
            span{
                font-size: 24px;
                font-weight: var(--regular);
                color: var(--text-black-color);
            }
        }
    }
    .goods__wrapper-content{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .goods__wrapper-item{
            max-width: 440px;
            background: #fff;
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 814px;
            justify-content: space-between; 
            .goods__image{
                max-width: 440px;
                width: 100%;
                max-height: 440px;
                overflow: hidden;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transition: 0.6s;
                }
            }
            @media (any-hover: hover) {
                .goods__image:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
            .goods__name{
                font-weight: var(--light);
                color: var(--text-black-color);
                font-size: 24px;
                max-width: 360px;
                width: 100%;
                margin: 30px auto;
            }
            .stock__flags{
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 360px;
                width: 100%;
                margin: 0 auto 20px auto;
                .stock{
                    color: #68AE5C;
                    font-weight: var(--regular);
                    font-size: 18px;
                    position: relative;
                }
                .stock::before{
                    content: '';
                    position: absolute;
                    left: -20px;
                    top: 6px;
                    background: #68AE5C;
                    width: 13px;
                    height: 13px;
                    border-radius: 50px;
                }
                .in__stock{
                    color: #f00;
                    font-weight: var(--regular);
                    font-size: 18px;
                    position: relative;
                }
                .in__stock::before{
                    content: '';
                    position: absolute;
                    left: -20px;
                    top: 6px;
                    background: #f00;
                    width: 13px;
                    height: 13px;
                    border-radius: 50px;
                }
                .flag{
                    background: var(--first-color);
                    color: #fff;
                    font-size: 24px;
                    font-weight: var(--regular);
                    padding: 8px 29px;
                }
            }
            .goods__price-wrapp{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                max-width: 360px;
                width: 100%;
                margin: 0 auto;
                .goods__main-price{
                    font-size: 42px;
                    font-weight: var(--medium);
                }
                .goods__old-price{
                    font-size: 24px;
                    font-weight: var(--medium);
                    text-decoration: line-through;
                    color: #ABABAB;
                }
            }
            .goods__btn-wrapp{
                display: flex;
                justify-content: space-between;
                .goods__amount{
                    border: 1px solid var(--text-black-color);
                    padding: 16px 0;
                    max-width: 218px;
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    border-radius: 3px;
                    button{
                        border: 0;
                        outline: none;
                        background: transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                        cursor: pointer;
                    }
                    input{
                        border: 0;
                        outline: none;
                        font-size: 24px;
                        font-weight: var(--regular);
                        max-width: 60px;
                        text-align: center;
                    }
                }
                .inBucket{
                    border: 0;
                    outline: none;
                    background: var(--text-black-color);
                    color: #fff;
                    font-size: 24px;
                    font-weight: var(--regular);
                    max-width: 220px;
                    width: 100%;
                    cursor: pointer;
                    border-radius: 3px;
                }
            }
        }
    }
}

@media (max-width: 1366px) {
    .section__goods{
        .goods__wrapper-content{
            justify-content: center;
            .goods__wrapper-item{
                max-width: 360px;
                .goods__name{
                    font-size: 18px;
                    padding: 0 20px;
                    width: auto;
                }
                .stock__flags{
                    max-width: 275px;
                    .stock{
                        font-size: 16px;
                    }
                    .in__stock{
                        font-size: 16px;
                    }
                    .flag{
                        font-size: 18px;
                    }
                }
                .goods__price-wrapp{
                    max-width: 275px;
                    .goods__main-price{
                        font-size: 32px;
                    }
                    .goods__old-price{
                        font-size: 18px;
                    }
                }
                .goods__btn-wrapp{
                    .inBucket{
                        font-size: 18px;
                    }
                    .goods__amount{
                        input{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .section__goods{
        padding: 0 0 8px 0;
        .goods__wrapp{
            .top__wrapper{
                padding: 0 8px;
            }
            .title__goods{
                font-size: 30px;
                margin: 20px 0 10px 0;
                padding: 0 8px; 
            }
            .category__goods{
                gap: 10px;
                padding: 0 8px;
                a{
                    font-size: 16px;
                }
            }
            .pagination{
                padding: 30px 0;
                gap: 5px;
                button{
                    width: 56px;
                    height: 49px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                span{
                    font-size: 18px;
                }
            }
        }
        .goods__wrapper-content{
            .goods__wrapper-item{
                max-width: 300px;
                min-height: auto;
                .goods__name{
                    font-size: 16px;
                    margin: 10px auto;
                }
                .stock__flags{
                    max-width: 237px;
                }
                .goods__btn-wrapp{
                    .goods__amount{
                        padding: 10px 0;
                    }
                    .inBucket{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 489px) {
    .section__goods{
        .goods__wrapper-content{
            gap: 10px;
            .goods__wrapper-item{
                max-width: 170px;
                .goods__name{
                    font-size: 14px;
                    padding: 0 15px;
                }
                .stock__flags{
                    flex-direction: column;
                    gap: 10px;
                    .stock{
                        font-size: 14px;
                    }
                    .flag{
                        font-size: 16px;
                        padding: 5px 10px;
                    }
                }
                .goods__price-wrapp{
                    flex-wrap: wrap;
                    max-width: 160px;
                    .goods__main-price{
                        font-size: 20px;
                    }
                    .goods__old-price{
                        font-size: 16px;
                    }
                }
                .goods__btn-wrapp{
                    flex-wrap: wrap;
                    gap: 2px;
                    .inBucket{
                        height: 45px;
                    }
                }
            }
        }
    }
}

// ######### SECTION REVIEWS ########## //

.reviews{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 8px 50px 8px;
    &__head{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 40px 0;
        h2{
            color: var(--text-black-color);
            font-weight: var(--medium);
            font-size: 46px;
            margin: 50px 0 10px 0;
            display: inline-block;
            span{
                color: var(--first-color); 
            }
        }
        .reviews__btn{
            background: transparent;
            border: 1px solid #111111;
            font-size: 24px;
            font-weight: var(--regular);
            color: #111111;
            padding: 17px 46px;
            cursor: pointer;
        }
    }
    &__author{
        font-size: 20px;
        font-weight: var(--medium);
        color: #111111;
        margin: 0 0 15px 0;
    }
    &__wrapper{
        display: flex;
        border-top: 1px solid #ABABAB;
        padding: 40px 0;
        
    }
    &__sidebar{
        display: flex;
        flex-direction: column;
        max-width: 300px;
        width: 100%;
    }
    &__content-wrapp{
        .title__reviews{
            font-size: 20px;
            font-weight: var(--semi-bold);
            color: #111111;
            max-width: 790px;
            width: 100%;
            margin: 0 0 10px 0;
        }
        .text__reviews{
            font-size: 18px;
            font-weight: var(--light);
            color: #111111;
            max-width: 790px;
            width: 100%;
            margin: 0 0 30px 0;
        }
        .reviews__img-wrapp{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
    .date{
        font-size: 18px;
        font-weight: var(--light);
        color: #909090;
    }
    &__link-now{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        font-size: 24px;
        font-weight: var(--regular);
        color: #111111;
        border: 1px solid #111111;
        max-width: 311px;
        width: 100%;
        margin: 0 auto;
        padding: 14px 0;
        transition: 0.6s;
        span{
            width: 34px;
            height: 34px;
        }
    }
    &__link-now:hover{
        span{
            transform: rotate(46deg);
        }
    }
}

@media (max-width: 991px) {
    .reviews{
        .reviews__head{
            h2{
                font-size: 30px;
                margin: 20px 0 10px 0;
            }
            .reviews__btn{
                font-size: 18px;
                padding: 11px 28px;
            }
        }
        &__wrapper{
            flex-direction: column;
            padding: 18px 0;
        }
        &__author{
            font-size: 18px;
        }
        .reviews__content-wrapp{
            .title__reviews{
                font-size: 18px;
            }
            .text__reviews{
                font-size: 16px;
            }
        }
        &__rating{
            img{
                width: 20px;
                height: 20px;
            }
        }
        .reviews__link-now{
            font-size: 18px;
            max-width: 265px;
            padding: 9px 0;
        }
    }
}

// ########## SECTION FAQ ######### //

.faq{
    background: #F8F8F8;
    padding: 50px 8px;
    .title__faq{
        color: var(--text-black-color);
        font-weight: var(--medium);
        font-size: 46px;
        max-width: 1360px;
        width: 100%;
        margin: 50px auto;
    }
    &__wrapper{
        max-width: 1360px;
        margin: 0 auto;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        padding: 38px 0;
    }
    &__item{
        border-top: 1px solid #ABABAB;
    }
    &__content{
        p{
            font-size: 18px;
            font-weight: var(--light);
            color: #111111; 
            margin: 10px 0;
        } 
    }
}

@media (max-width: 991px) {
    .faq{
        padding: 5px 30px;
        .title__faq{
            margin: 20px auto;
            font-size: 30px; 
        }
        .faq__header{
            padding: 25px 0;
        }
    }
}

// ########### SECTION NEWS ########### //

.news{
    padding: 30px 8px;
    .title__news{
        color: var(--text-black-color);
        font-weight: var(--medium);
        font-size: 46px;
        max-width: 1360px;
        width: 100%;
        margin: 50px auto; 
    }
    &__wrapper{
        max-width: 1360px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__item{
        max-width: 440px;
    }
    &__content{
        .news__date{
            font-weight: var(--light);
            color: #909090;
            font-size: 18px;
            margin: 30px 0 20px 0;
        }
        .news__title{
            font-size: 20px;
            font-weight: var(--semi-bold);
            color: var(--text-black-color);
            max-width: 355px;
        }
        .news__content{
            font-size: 18px;
            font-weight: var(--light);
            color: var(--text-black-color);
            margin: 15px 0 20px 0;
        }
        a{
            color: var(--first-color);
            text-decoration: underline; 
        }
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        font-size: 24px;
        font-weight: var(--regular);
        color: #111111;
        border: 1px solid #111111;
        max-width: 311px;
        width: 100%;
        margin: 40px auto;
        padding: 14px 0;
        transition: 0.6s;
        span{
            width: 34px;
            height: 34px;
        } 
    }
    &__link:hover{
        span{
            transform: rotate(46deg);
        }
    }
}

@media (max-width: 991px) {
    .news{
        padding: 0 8px;
        .title__news{
            margin: 20px auto;
            font-size: 30px;
        }
        &__item{
            display: flex;
            max-width: none;
            gap: 10px;
            .news__img-wrapp{
                max-width: 188px;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        &__content{
            .news__date{
                margin: 10px 0 10px 0;
                font-size: 16px;
            }
            .news__title{
                max-width: none;
                font-size: 18px;
            }
            .news__content{
                margin: 10px 0 5px 0;
                font-size: 16px;
            }
        }
        .news__link{
            font-size: 18px;
            max-width: 265px;
            padding: 9px 0;
        }
    }
}

@media (max-width: 489px) {
    .news{
        &__item{
            flex-direction: column;
        }
    }
}

// ########## SECTION FORMS ######### //

.forms{
    background: #F8F8F8;
    padding: 114px 8px;
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        max-width: 1360px;
        margin: 0 auto;
        form{
            max-width: 555px;
            width: 100%;
            .form__title{
                font-size: 42px;
                font-weight: var(--medium);
                color: var(--text-black-color);
                margin: 50px 0;
            }
            .form__body{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                .main__input{
                    border: 0;
                    border-bottom: 1px solid #111111;
                    outline: none;
                    background: transparent;
                    width: 100%;
                    font-size: 18px;
                    font-weight: var(--regular);
                    color: #111111;
                    padding: 12px 0;
                }
                .main__input::placeholder{
                    color: #ABABAB;
                    font-size: 18px;
                    font-weight: var(--regular);
                }
                .policy__check{
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    .check__policy{
                        width: 30px;
                        height: 30px;
                    }
                    .text__policy{
                        font-size: 16px;
                        font-weight: var(--regular);
                        color: #111111;
                    }
                }
            }
            button{
                background: var(--text-black-color);
                color: #fff;
                border-radius: 3px;
                border: 0;
                outline: none;
                cursor: pointer;
                margin: 40px 0 0 0;
                font-size: 24px;
                font-weight: var(--regular);
                padding: 16px 42px;
            }
        }
    }
}

@media (max-width: 991px) {
    .forms{
        padding: 40px 8px;
        &__wrapper{
            form{
                max-width: 460px;
                .form__title{
                    font-size: 24px;
                    margin: 18px 0; 
                }
                button{
                    font-size: 18px;
                }
            }
        }
    }
}

// ########### FOOTER ########## //

.footer{
    background: var(--text-black-color);
    padding: 82px 8px 10px 8px;
    &__wrapp{
        max-width: 1360px;
        width: 100%;
        margin: 0 auto;
        .footer__logo{
            display: inline-block;
            max-width: 183px;
            max-height: 82px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &__menu-wrapp{
        max-width: 1360px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        gap: 60px;
        justify-content: space-between;
    }
    // ##### Footer menu category ##### //
    &__menu-category{
        max-width: 240px;
        width: 100%;
        .main__text-menu{
            font-size: 24px;
            font-weight: var(--semi-bold);
            color: #fff;
            margin: 15px 0;
        }
        ul{
            display: flex;
            gap: 6px;
            flex-direction: column;
            li{
                a{
                    font-size: 18px;
                    font-weight: var(--light);
                    color: #fff;
                }
            }
        }
    }
    // ###### Footer menu second #### // 

    &__menu-second{
        display: flex;
        width: 100%;
        .main__wrapp-second{
            display: flex;
            width: 100%;
            gap: 20px;
            justify-content: space-between;
            .title__menu{
                .link__title-menu{
                    color: #fff; 
                    font-size: 24px;
                    font-weight: var(--semi-bold); 
                    margin: 15px 0;
                    display: inline-block;
                }
            }
            .under__menu{
                display: flex;
                flex-direction: column;
                gap: 6px;
                li{
                    a{
                        font-size: 18px;
                        font-weight: var(--light);
                        color: #fff;
                    }
                }
            }
        }
    }
    .contact__wrapp{
        display: flex;
        flex-direction: column;
        max-width: 220px;
        gap: 35px;
        width: 100%;
        .tel__wrapp{
            display: flex;
            flex-direction: column;
            gap: 10px;
            p{
                font-size: 24px;
                font-weight: var(--light);
                color: #fff;
            }
            a{
                font-size: 24px;
                font-weight: var(--semi-bold);
                color: #fff;
            }
        }
        .social__wrapp{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
    .copyright{
        font-size: 18px;
        font-weight: var(--light);
        color: #fff;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        padding: 50px 0 30px 0;
    }
}

@media (max-width: 991px) {
    .footer{
        padding: 40px 8px 10px 8px;
        &__menu-category{
            display: none;
        }
        &__menu-second{
            display: none;
        }
        &__menu-wrapp{
            justify-content: center;
        }
        &__wrapp{
            display: flex;
            justify-content: center;
        }
    }
}


.burger__category-menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999;
    display: flex;
    justify-content: flex-start;
    transition: opacity 0.3s ease;
    .burger__category-wrapp{
        background: #111;
        width: 300px;
        height: 100%;
        transform: translateX(-100%); /* прячем за правый край */
        animation: slideIn 0.3s forwards;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
        padding: 20px;
        position: relative;
        .close__btn{
            background: transparent;
            border: 0;
            outline: none;
            cursor: pointer;
            width: 50px;
            height: 50px;
            position: absolute;
            right: 0;
            top: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .burger__menu-wrapp{
        .category__menu{
            ul{
                display: flex;
                flex-direction: column;
                gap: 20px;
                li{
                    a{
                        font-size: 18px;
                        font-weight: var(--light);
                        color: #fff; 
                    }
                }
            }
        }
    }
    @keyframes slideIn {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0%);
        }
      }
}

@media (max-width: 991px) {
    .burger__category-menu{
        align-items: baseline;
        .burger__category-wrapp{
            height: 100vh;
        }
        .burger__menu-wrapp{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            height: calc(100vh - 60px);
            overflow-y: auto;
            padding: 16px; 
            gap: 20px;
            .category__menu{
                ul{
                    flex-direction: column;
                }
            }
            .hor__menu-burger{
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    li{
                        a{
                            font-size: 18px;
                            font-weight: var(--light);
                            color: #fff; 
                        }
                    }
                }
            }
        }
    }
}


// ######## PROD PAGE ####### //

.prod__wrapp{
    background: #F8F8F8;
    padding: 0 0 100px 0;
    .prod__title{
        color: var(--text-black-color);
        font-weight: var(--medium);
        font-size: 46px;
        margin: 50px 0;
        display: inline-block;
        text-transform: capitalize;
        span{
            color: var(--first-color);
        }
    }
    .goods__wrapp{
        max-width: 1360px;
        width: 100%; 
        margin: 0 auto;
        .sorting{
            border: 2px solid var(--first-color);
            font-weight: var(--regular);
            font-size: 18px;
            padding: 8px 36px;
            margin: 30px 0 30px auto;
            outline: none;
            border-radius: 3px;
        }
    }
    .goods__wrapper-content{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .goods__wrapper-item{
            max-width: 440px;
            background: #fff;
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 814px;
            justify-content: space-between; 
            .goods__image{
                max-width: 440px;
                width: 100%;
                max-height: 440px;
                overflow: hidden;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transition: 0.6s;
                }
            }
            @media (any-hover: hover) {
                .goods__image:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
            .goods__name{
                font-weight: var(--light);
                color: var(--text-black-color);
                font-size: 24px;
                max-width: 360px;
                width: 100%;
                margin: 30px auto;
            }
            .stock__flags{
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 360px;
                width: 100%;
                margin: 0 auto 20px auto;
                .stock{
                    color: #68AE5C;
                    font-weight: var(--regular);
                    font-size: 18px;
                    position: relative;
                }
                .stock::before{
                    content: '';
                    position: absolute;
                    left: -20px;
                    top: 6px;
                    background: #68AE5C;
                    width: 13px;
                    height: 13px;
                    border-radius: 50px;
                }
                .in__stock{
                    color: #f00;
                    font-weight: var(--regular);
                    font-size: 18px;
                    position: relative;
                }
                .in__stock::before{
                    content: '';
                    position: absolute;
                    left: -20px;
                    top: 6px;
                    background: #f00;
                    width: 13px;
                    height: 13px;
                    border-radius: 50px;
                }
                .flag{
                    background: var(--first-color);
                    color: #fff;
                    font-size: 24px;
                    font-weight: var(--regular);
                    padding: 8px 29px;
                }
            }
            .goods__price-wrapp{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                max-width: 360px;
                width: 100%;
                margin: 0 auto;
                .goods__main-price{
                    font-size: 42px;
                    font-weight: var(--medium);
                }
                .goods__old-price{
                    font-size: 24px;
                    font-weight: var(--medium);
                    text-decoration: line-through;
                    color: #ABABAB;
                }
            }
            .goods__btn-wrapp{
                display: flex;
                justify-content: space-between;
                .goods__amount{
                    border: 1px solid var(--text-black-color);
                    padding: 16px 0;
                    max-width: 218px;
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    border-radius: 3px;
                    button{
                        border: 0;
                        outline: none;
                        background: transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                        cursor: pointer;
                    }
                    input{
                        border: 0;
                        outline: none;
                        font-size: 24px;
                        font-weight: var(--regular);
                        max-width: 60px;
                        text-align: center;
                    }
                }
                .inBucket{
                    border: 0;
                    outline: none;
                    background: var(--text-black-color);
                    color: #fff;
                    font-size: 24px;
                    font-weight: var(--regular);
                    max-width: 220px;
                    width: 100%;
                    cursor: pointer;
                    border-radius: 3px;
                }
            }
        }
    }
}

@media (max-width: 1366px) {
    .prod__wrapp{
        .goods__wrapper-content{
            justify-content: center;
            .goods__wrapper-item{
                max-width: 360px;
                .goods__name{
                    font-size: 18px;
                    padding: 0 20px;
                    width: auto;
                }
                .stock__flags{
                    max-width: 275px;
                    .stock{
                        font-size: 16px;
                    }
                    .in__stock{
                        font-size: 16px;
                    }
                    .flag{
                        font-size: 18px;
                    }
                }
                .goods__price-wrapp{
                    max-width: 275px;
                    .goods__main-price{
                        font-size: 32px;
                    }
                    .goods__old-price{
                        font-size: 18px;
                    }
                }
                .goods__btn-wrapp{
                    .inBucket{
                        font-size: 18px;
                    }
                    .goods__amount{
                        input{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .prod__wrapp{
        padding: 0 0 8px 0;
        .goods__wrapp{
            .top__wrapper{
                padding: 0 8px;
            }
            .prod__title{
                font-size: 30px;
                margin: 20px 0 10px 0;
                padding: 0 8px; 
            }
            .category__goods{
                gap: 10px;
                padding: 0 8px;
                a{
                    font-size: 16px;
                }
            }
        }
        .goods__wrapper-content{
            .goods__wrapper-item{
                max-width: 300px;
                min-height: auto;
                .goods__name{
                    font-size: 16px;
                    margin: 10px auto;
                }
                .stock__flags{
                    max-width: 237px;
                }
                .goods__btn-wrapp{
                    .goods__amount{
                        padding: 10px 0;
                    }
                    .inBucket{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 489px) {
    .prod__wrapp{
        .goods__wrapper-content{
            gap: 10px;
            .goods__wrapper-item{
                max-width: 170px;
                .goods__name{
                    font-size: 14px;
                    padding: 0 15px;
                }
                .stock__flags{
                    flex-direction: column;
                    gap: 10px;
                    .stock{
                        font-size: 14px;
                    }
                    .flag{
                        font-size: 16px;
                        padding: 5px 10px;
                    }
                }
                .goods__price-wrapp{
                    flex-wrap: wrap;
                    max-width: 160px;
                    .goods__main-price{
                        font-size: 20px;
                    }
                    .goods__old-price{
                        font-size: 16px;
                    }
                }
                .goods__btn-wrapp{
                    flex-wrap: wrap;
                    gap: 2px;
                    .inBucket{
                        height: 45px;
                    }
                }
            }
        }
    }
}


// ##### PROD CARD PAGE ######## //

.prod__card-wrapp{
    max-width: 1360px;
    margin: 0 auto; 
    padding: 100px 8px;
    .prod__card-title{
        color: var(--text-black-color);
        font-weight: var(--medium);
        font-size: 46px;
        display: inline-block; 
        text-transform: capitalize;
    }
    .prod__img{
        max-width: 400px;
        max-height: 400px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .card__wrapp{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .inBucket{
            border: 0;
            outline: none;
            background: var(--text-black-color);
            color: #fff;
            font-size: 24px;
            font-weight: var(--regular);
            max-width: 220px;
            width: 100%;
            cursor: pointer;
            border-radius: 3px; 
            padding: 18px 0;
        }
    }
    .goods__amount{
        border: 1px solid var(--text-black-color);
        padding: 16px 0;
        max-width: 218px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        border-radius: 3px; 
        button{
            border: 0;
            outline: none;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; 
        }
        input{
            border: 0;
            outline: none;
            font-size: 24px;
            font-weight: var(--regular);
            max-width: 60px;
            text-align: center; 
        }
    }
    .goods__btn-wrapp{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .card__goods-wrapp{
        display: flex;
        flex-direction: column;
        max-width: 440px;
        width: 100%;
        gap: 10px;
    }
    .price__wrapp{
        display: flex;
        .main__price{
            font-size: 42px;
            font-weight: var(--medium);
        }
        .old__price{
            font-size: 24px;
            font-weight: var(--medium);
            text-decoration: line-through;
            color: #ABABAB; 
        }
    }
    .stock__flags{
        .stock{
            color: #68AE5C;
            font-weight: var(--bold);
            font-size: 22px; 
        }
        .in__stock{
            color: #f00;
            font-weight: var(--bold);
            font-size: 22px; 
        }
        .flag{
            background: var(--first-color);
            color: #fff;
            font-size: 24px;
            font-weight: var(--regular);
            padding: 8px 29px; 
        }
    }
    .card__item-wrapp{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 489px) {
    .prod__card-wrapp{
        padding: 5px 8px;
        .prod__card-title{
            font-size: 24px;
            margin: 20px 0 10px 0;
            padding: 0 8px; 
        }
        .price__wrapp{
            .main__price{
                font-size: 24px;
            }
            .old__price{
                font-size: 18px;
            }
        }
        .goods__amount{
            max-width: 168px;
        }
        .card__wrapp{
            .inBucket{
                max-width: 170px;
            }
        }
    }
}

// ######## BUCKET ####### //

.bucket{
    max-width: 1360px;
    margin: 0 auto; 
    padding: 100px 8px; 
    .bucket__empty{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    .bucket__items{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        max-width: 940px;
        width: 100%;
        .bucket__item{
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid var(--first-color);
            border-radius: 3px;
            padding: 30px;
            width: 100%;
            .bucket__item-img{
                width: 90px;
                height: 90px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .goods__name{
                max-width: 400px;
                width: 100%;
            }
        }
        .cart__amount{
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .delete__btn{
            border: 0;
            outline: none;
            background: var(--text-black-color);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; 
            padding: 20px 28px; 
            border-radius: 3px;
        }
    }
    .bucket__main-wrapp{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .bucket__total{
        color: var(--text-black-color);
        font-size: 30px;
        border: 1px solid var(--first-color);
        border-radius: 3px;
        max-width: 400px;
        width: 100%;
        min-height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0px; 
    }
    .bucket__total-wrapp{
        max-width: 400px;
        width: 100%;
        margin: 10px 0 0 0;
    }
    .bucket__title{
        color: var(--text-black-color);
        font-weight: var(--medium);
        font-size: 46px; 
        margin: 10px 0;
    }
    .goods__amount{
        border: 1px solid var(--text-black-color);
        padding: 16px 0;
        max-width: 218px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        border-radius: 3px; 
        button{
            border: 0;
            outline: none;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; 
        }
        input{
            border: 0;
            outline: none;
            font-size: 24px;
            font-weight: var(--regular);
            max-width: 60px;
            text-align: center; 
        }
    }
}

@media (max-width: 489px) {
    .bucket{
        padding: 5px 8px; 
        .bucket__title{
            font-size: 24px;
            margin: 10px 0;
            padding: 0 8px;
        }
    }
}